{% extends 'base.html' %}
{% block title %} Sobre o projeto -Tech2All {% endblock %}

{% block content %}
    <link rel="stylesheet" href="sobre.css">
    <section class="logo">
        <h1>Tech<span class="text-flicker-in-glow">4</span>All</h1>
        <p>Seu curso de tecnologia</p>
    </section>
    <section class="sobre">
        <!-- isso dese estar dentro de um card com a imagem dos cursos acima dele -->
        <h2>Sobre</h2>
        <p>
            O Tech4All é um projeto acadêmico pensado para facilitar o acesso ao aprendizado de tecnologias voltadas ao desenvolvimento web. 
        </p>
        <p>
            Para isso, a plataforma oferece uma trilha de cursos introdutórios a engenharia de software. A sequência é pensada para poder ser consumida de forma fluida e complementar (Visto que o conteúdo de cada curso se completa, construindo, assim, uma boa base de conhecimentos de programação). Por meio disso, o aluno deve tornar-se capaz de dar seus primeiros passos como um desenvolvedor em formação.
        </p>
    </section>
    <section class="plano">
        <h2>Objetivos</h2>
        <div class="objetivos">
            <div class="obj">
                <p>Através de cursos progressivos de python, javaScript, html e css3, o aluno deve ser capaz de criar projetos, de sua preferência, com html semântico, um visual atrativo e sistema de rotas funcional.</p>
            </div>
            <div>
                <img src="hal-gatewood-8MBd4rAgJ-c-unsplash.jpg" alt="Objetivos">
            </div>
        </div>
    </section>
    <section class="tecnologias">
        <h2>Tecologias utilizadas</h2>
        <p>Este projeto foi desenvolvido com tecnologia python, html5, css3 e flask.</p>
    </section>
{% endblock %}
<!-- </body>
<footer>
    <p>&copy; All rights reserved, 2026.1 IFPB</p>
</footer>
</html> Isso aqui vai para o lixo, já que tem a base do base.html -->

