<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre</title>
    <link rel="stylesheet" href="sobre.css">
</head>
<body>
    <section class="logo">
        <h1>Tech<span class="text-flicker-in-glow">4</span>All</h1>
        <p>Seu curso de tecnologia</p>
    </section>
    <section class="sobre">
        <!-- isso dese estar dentro de um card com a imagem dos cursos acima dele -->
        <h2>Sobre</h2>
        <p>
            O Tech4All é um projeto acadêmico pensado para facilitar o acesso ao aprendizado de tecnologias voltadas ao desenvolvimento web. 
        </p>
        <p>
            Para isso, a plataforma oferece uma trilha de cursos introdutórios à tecnologias inspiradas em aulas de barachelado do primeiro período de engenharia de software, pensados para passar conhecimento de forma fluida, visto que são conhecimentos que se completam, e organizada (Cada etapa do curso serve como pré requisição para a próxima, até que o aluno seja capaz de dar os seus primeiros passos.)
        </p>
    </section>
    <section class="plano">
        <h2>Objetivos</h2>
        <div class="objetivos">
            <div class="obj">
                <p>Através de cursos progressivos de python, javaScript, html e css3, o aluno deve ser capaz de criar uma página, de sua preferência, com html semântico, um visual atrativo e sistema de rotas funcional.</p>
            </div>
            <div>
                <img src="hal-gatewood-8MBd4rAgJ-c-unsplash.jpg" alt="Objetivos">
            </div>
        </div>
    </section>
    <section class="tecnologias">
        <h2>Tecologias utilizadas</h2>
        <p>Este projeto foi desenvolvido com tecnologia python, html5, css3 e flask.</p>
    </section>
</body>
<footer>
    <p>&copy; All rights reserved, 2026.1 IFPB</p>
</footer>
</html>